{% extends "_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
Castle Apartments - Credit Card Details
{% endblock %}


{% block content %}

<H1 style="color: white;">CASTLE APARTMENTS</H1>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <p>Have you ever wondered how your personal agent website stacks against the Top 25 agents on the Real Trends 500?</p>
                <p>Well, wonder no more.</p>
                <p>In order to see how the masters of the real estate universe roll online, we decided to take a deep dive into their websites and kick the tires a bit.</p>
                <p>Using a mixture of objective measurements (Domain Authority, Google Pagespeed Insights) combined with subjective measurements (how much we dig how the site looks) we came up with the Close Score; our shiny new system to rank agent websites.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}