{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Castle Apartments - Login
{% endblock %}

{% block content %}

<div class="page-header header-filter">
        <div class="container">
            <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login">
                <form class="form" method="" action="">
                    <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Sign up</h4>
                    </div>
                    <p class="description text-center">&nbsp;</p>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">                
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">face</i>
                                    </span>
                                    </div>
                                    <input type="text" id="fname" name="fname" class="form-control" placeholder="First name...">
                                </div>
                            </div>
                            <div class="col-md-5"> 
                                <div class="input-group">
                                    <div class="input-group-prepend d-block d-md-none">
                                        <span class="input-group-text">
                                            <i class="fas fa-skull-crossbones"></i>
                                        </span>
                                    </div>
                                    <input type="text" id="lname" name="lname" class="form-control" placeholder="Last name...">
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fab fa-slack-hash"></i>
                            </span>
                            </div>
                            <input type="text" id="ssn" id="ssn" class="form-control" placeholder="Ssn...">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">mail</i>
                            </span>
                            </div>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email...">
                        </div>                   
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            </div>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password...">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-home"></i>
                            </span>
                            </div>
                            <input type="text" id="address" name="address" class="form-control" placeholder="Address...">
                        </div>
                        <div class="row">
                            <div class="col-md-9"> 
                                
                        <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-city"></i>
                                </span>
                                </div>
                                <input type="text" id="city" name="city" class="form-control" placeholder="City...">
                            </div>
                            </div>
                            
                            <div class="col-md-3"> 
                                <div class="input-group">
                                    <div class="input-group-prepend d-block d-md-none">
                                    <span class="input-group-text">
                                        <i class="fas fa-skull-crossbones"></i>
                                    </span>
                                    </div>
                                    <input type="text" id="zip" name="zip" class="form-control" placeholder="Zip...">
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                        <i class="fas fa-globe-europe"></i>
                                </span>
                                </div>
                                <select id="country" name="country">
                                    <option value="">country...</option>
                                    <option value="1">country 2...</option>
                                    <option value="2">country 1...</option>
                                </select>
                            </div>
                    </div>
                    <div class="footer text-center">
                    <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}