{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block title %}
Create a Apartment
{% endblock %}

{% block content %}
 
{% if user.is_authenticated %}
<div class="container">
  <div class="row">
    <div class="col-md-12 p-0 p-md-1">
      <div class="card m-0 p-3 p-sm-2 p-md-4 ">
        <form class="form" method="post" action=""  enctype="multipart/form-data">
          {% csrf_token %}
        <div class="card-header card-header-primary text-center">
          <h4 class="card-title">APARTMENT </h4>
        </div>
        <p class="description text-center">&nbsp;</p>

        <div class="row">
          <div class="col-md-3">

            <div class="input-group">  
              {{ form.street_name|as_crispy_field }}
            </div>

            <div class="input-group">  
                {{ form.street_number|as_crispy_field }}
            </div>
  

            <div class="form-group">
                {{ form.country|as_crispy_field }}
            </div>

            <div class="form-group">
                {{ form.city|as_crispy_field }}
            </div>

            <div class="form-group">
                {{ form.postcode|as_crispy_field }}
            </div>

          </div>
          <div class="col-md-3">
            <div class="form-group">

                <div class="input-group">  
                    {{ form.price|as_crispy_field }}
                  </div>
      
                  <div class="input-group">  
                      {{ form.size|as_crispy_field }}
                  </div>
                  <div class="form-group">
                    {{ form.type|as_crispy_field }}
                  </div>
            </div>
            <div class="form-group">
                {{ form.rooms|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.bathrooms|as_crispy_field }}
              </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <dic class="col-md-12">
                  <div class="form-group" style="padding-top:0px;">
                      {{ form.description|as_crispy_field }}
                    </div>
              </dic>
          <div class="col-md-6">
              <div class="title"  style="margin-top: 0px;">
                  <h3 style="margin-top: 0px;">Features</h3>
              </div>
              <div class="apartment_features">
                {% for feature in features_options %}       
                  <div class="form-check">
                  <label class="form-check-label" for="features_{{ feature.0 }}">
                    {% if feature.1 in form.features.value %}
                    <input class="form-check-input" id="features_{{ feature.0 }}" name="features_new" type="checkbox" value="{{ feature.1 }}" checked>{{ feature.1 }}
                    {% else %}
                    <input class="form-check-input" id="features_{{ feature.0 }}" name="features_new" type="checkbox" value="{{ feature.1 }}" >{{ feature.1 }}
                    {% endif %}
                   
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                {% endfor %}
                <input type="hidden" value="[{}]" name="features">
              </div>
          </div>
          <div class="col-md-6">
            <div class="title"  style="margin-top: 0px;">
              <h3 style="margin-top: 0px;">Photos</h3>
            </div>
            <a class="btn btn-success btn-lg" style="color:white" data-toggle="modal" data-target="#myModal"><i class="fas fa-upload"></i> Image Upload</a>                
            

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Apartments images</h5>
                      <a class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                      </a>
                    </div>
                    <div class="modal-body">
                      {{ images.management_form }}
                      {% for form in images %}
                      <div class="" style="padding-top:0px;">
                        {{ form }}

                        <div class="input-group" style="display: block !important;">
                            
                            <div class="form-check" style="position: absolute;
                            right: 0;
                            top: -35px;">
                              <label class="form-check-label">

                              <input class="form-check-input" type="radio" name="primary_new" value="{{ forloop.counter0 }}" > Primary

                             
                              <span class="circle">
                              <span class="check"></span>
                              </span>
                              </label>
                          </div>
                        </div>
                      </div>
                      <hr style="margin: 15px 0;"/>
                      {% endfor %}
                    </div>
                    <div class="modal-footer">                    
                      <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>



          <div class="title"  style="margin: 0px;">
              <h3 style="margin: 15px 0;"></h3>
            </div>
            <button type="submit" class="btn btn-primary btn-lg search_submit" style="width:100%"><i class="fas fa-save"></i> Save Apartment</button>                
          </div>
        </div>
      </div>
    </div>

    <div class="footer text-center">   
    </div>
  </form>
      </div>
    
    </div>
  </div>
</div>

{% endif %}
{% endblock %}