{% extends '_base.html' %}

{% block content %}
<!--Search Box-->
<div class="container">
    <div class="row">
        <div class="col-md-12 p-0 p-md-1">
            <div class="card m-0 p-3 p-sm-2 p-md-3 main-search">
                <!--HEADER-->
                <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">SEARCH</h4>
                </div>

                <!--MAIN CONTENT-->
                <div class="row">

                    <!--LOCATION-->
                    <div class="col-sm-6 col-md-3">
                        <form method="post">
                        {% csrf_token %}
                        <div class="title" style="margin-bottom: 10px;">
                            <h3>Location</h3>
                        </div>
                        <div class="search-location-space">
                            <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="capital" value="" data-toggle="collapse" data-target="#capital-options" aria-expanded="false" aria-controls="capital-options"> Capital Region
                                <span class="form-check-sign">
                                <span class="check"></span>
                                </span>
                                </label>
                            </div>
                            <div class="form-group-1 pl-3 collapse" id="capital-options">
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value=""> Capital Region 1
                                    <span class="form-check-sign">
                                      <span class="check"></span>
                                    </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value=""> Capital Region 2
                                    <span class="form-check-sign">
                                      <span class="check"></span>
                                    </span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value=""> Type2
                                <span class="form-check-sign">
                                <span class="check"></span>
                                </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!--TYPES-->
                    <div class="col-sm-6 col-md-3">
                        <div class="title">
                            <h3>Types</h3>
                        </div>
                        {% for type in search_types %}
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="types" value="{{ type.0 }}">{{ type.1 }}
                            <span class="form-check-sign">
                            <span class="check"></span>
                            </span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>

                    <!--OPTIONS-->
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="title">
                            <h3>Price</h3>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control search-select" name="lower_price">
                                        <option value="NULL" disabled selected>From:</option>
                                        {% for price in search_prices %}
                                        <option value="{{ price.value }}">{{ price.display }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control search-select" name="upper_price">
                                        <option value="NULL" disabled selected>To:</option>
                                        {% for price in search_prices %}
                                        <option value="{{ price.value }}">{{ price.display }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <h3>Size</h3>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control search-select" name="lower_size">
                                        <option value="NULL" disabled selected>From:</option>
                                        {% for size in search_sizes %}
                                        <option value="{{ size.value }}">{{ size.display }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control search-select" name="upper_size">
                                        <option value="NULL" disabled selected>To:</option>
                                        {% for size in search_sizes %}
                                        <option value="{{ size.value }}">{{ size.display }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <h3>Rooms </h3>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control search-select" name="lower_rooms">
                                        <option value="NULL" disabled selected>From:</option>
                                        {% for room in search_rooms %}
                                        <option value="{{ room.value }}">{{ room.display }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control search-select" name="upper_rooms">
                                        <option value="NULL" disabled selected>To:</option>
                                        {% for room in search_rooms %}
                                        <option value="{{ room.value }}">{{ room.display }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--SEARCH-->
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="title">
                            <h3>Search</h3>
                        </div>
                        <div class="input-group">
                            <div class="form-group bmd-form-group is-filled">
                                <label for="id_search_street" class="col-form-label bmd-label-floating">Street</label>
                                <input id="id_search_street" class="textinput textInput form-control" type="text" value="" name="street">
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="form-group bmd-form-group is-filled">
                                <label for="id_search_description" class="col-form-label bmd-label-floating">Description</label>
                                <input id="id_search_description" class="textinput textInput form-control" type="text" value="" name="description">
                            </div>
                        </div>
                        <div class="title" style="margin-top:5px">
                            <h3 style="margin-top:0px">Age</h3>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="age" checked value="any"> Any
                            <span class="circle">
                            <span class="check"></span>
                            </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="age" value="1_day"> 1 Day
                            <span class="circle">
                            <span class="check"></span>
                            </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="age" value="1_week"> 1 Week
                            <span class="circle">
                            <span class="check"></span>
                            </span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg" id="search_submit"><i class="fas fa-search"></i> Search</button>
                        </form>
                    </div>
                </div>
                <!--FOOTER-->
                <div class="footer text-center">

                </div>
            </div>
        </div>
    </div>
</div>


<!--Featured or found Apartments-->
<div class="album py-5" style="min-height: 100vh;">
  <div class="container">
    <div class="row">
        <div class="col-md-12 p-0 p-md-1">
            <div class="card m-0 p-md-3">
                <div class="card-header card-header-primary text-center">
                {% if search_results %}
                    <h4 class="card-title">SEARCH RESULTS</h4>
                {% else %}
                    <h4 class="card-title">FEATURED</h4>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      {% for apartment in apartments %}
          {% include '_apartment_list.html' %}
      {% empty %}
        <p>Lol Nothing!</p>
      {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
        {% if apartments.has_other_pages %}
            <ul class="pagination">
            {% if apartments.has_previous %}
                <li class="page-item"><a href="?page={{apartments.previous_page_number}}" class="page-link">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}
           {% for page_number in apartments.paginator.page_range %}
                {% if apartments.number == page_number %}
                <li class="page-item active"><a class="page-link">{{ page_number }}</a></li>
                {% else %}
                <li class="page-item"><a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a></li>
                {% endif %}
           {% endfor %}
            {% if apartments.has_next %}
                <li class="page-item"><a href="?page={{apartments.next_page_number}}" class="page-link">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
            </ul>
        {% endif %}
        </div>
    </div>
  </div>
</div>
{% endblock %}
