{% extends '_base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
          <form method="POST">
            <div class="card-header card-header-primary text-center">
              <h4 class="card-title">Forgot your password?</h4>
            </div>
            {% csrf_token %}
            <p class="description text-center">Enter your email address below, and we'll email instructions for setting a new one.</p>
            <div class="card-body card-body-set-psw">
              <div class="footer text-center">
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary btn-link btn-wd btn-lg" value="Send me instructions!">
              </div>
            </div>
          </form>
        </div>
      </div>  
    </div>
  </div>
</div>
{% endblock %}