{% extends '_base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login">
                    <form method="POST">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title">Set a new password!</h4>
                        </div>
                        {% csrf_token %}
                        <p class="description text-center">Plese set a new password.</p>
                        <div class="card-body">
                            {{ form.as_p }}
                            <div class="footer text-center">
                                <input type="submit" value="Change my password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
    </div>
</div>
{% endblock %}