{% extends 'base.html' %}

{% block title %}
Castle Apartments - All cards
{% endblock %}

{% block content %}
<div class="album py-5 header-filter">
    <div class="container">
        <p>
            <a href="{% url 'card_add' %}" class="btn btn-primary">Add card</a>
        </p>
        <div class="row">
            
              {% for card in cards %}
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="http://www.facetheforce.today/random/200?r={{ card.name }}">
                    <div class="card-body">
                        <h3><a href="{% url 'card_edit' card.pk %}">{{ card.name }}</a></h3>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
              {% empty %}
                <p>No data</p>
              {% endfor %}
             
        </div>
    </div>
  </div>
{% endblock %}