{% extends "_base.html" %}
{% load staticfiles %}

{% block title %}
Castle Apartments - Login
{% endblock %}

{% block content %}

<div class="page-header">
        <div class="container">
            <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login">
                <form class="form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Login</h4>
                    </div>
                    <p class="description text-center">&nbsp;</p>
                    <div class="card-body">
                    
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">account_circle</i>
                        </span>
                        </div>
                        <input name="username" type="username" class="form-control" placeholder="Username...">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                        </span>
                        </div>
                        <input name="password" type="password" class="form-control" placeholder="Password...">
                    </div>
                    </div>
                    <div class="footer text-center">
                    
                    <input type="submit" class="btn btn-primary btn-link btn-wd btn-lg" name="" value="Get Started">
                    </div>
                </form>
                <div class="text-center">
                    <p>New to Castle apartments?<a href="{% url 'signup' %}" ><strong> SIGN UP</strong></a></p>
                </div>
                <div class="text-center">
                    <p>Forgot your password?<a href="{% url 'forget_password' %}" ><strong> RESET PASSWORD</strong></a></p>
                </div>
               
            </div>
        </div>
    </div>
    {% for message in messages %}
    <div class="alert alert-danger">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">error_outline</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Login Failure:</b>{{ message }}.
        </div>
    </div>
    <div class="clearfix"></div>

    {% endfor %}
{% endblock %}