{% extends "_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
Castle Apartments - Profile
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
            <div class="card card-login">
                <form class="form" method="post" action="">
                    {% csrf_token %}
                    <div class="card-header card-header-primary text-center">
                        <h4 class="card-title">Profile</h4>
                    </div>
                    <p class="description text-center">&nbsp;</p>
                    <div class="card-body">
                        <div class="d-flex justify-content-center profile-image">
                            
                            {% if form.photo_main %}
                                <img src="{{ form.photo_main.image.url }}" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid" style="width:30%; height:30%">
                                
                            {% else %}
                                <img src="/media/no_image.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid" style="width:30%; height:30%">
                                
                            {% endif %}
                            
                        </div>

                        <div class="row">
                            <div class="col-md-6">  
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-phone"></i>
                                    </span>
                                    </div>
                                    {{ form.phone|as_crispy_field }}
                                    
                                </div>
                            </div>
                            <div class="col-md-6"> 
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">mail</i>
                                    </span>
                                    </div>
                                    
                                    {{ form.email|as_crispy_field }}
                                </div>    
                            </div>

                            <div class="col-md-6">  
                                <div class="input-group input-group-select">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-venus-mars"></i>
                                    </span>
                                    </div>
                                    {{ form.sex|as_crispy_field }}
                                    
                                </div>
                            </div>
                            <div class="col-md-6"> 
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fab fa-slack-hash"></i>
                                    </span>
                                    </div>
                                    
                                    {{ form.ssn|as_crispy_field }}
                                </div>    
                            </div>

                            <div class="col-md-6">  
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-home"></i>
                                    </span>
                                    </div>
                                    
                                    {{ form.street_name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6"> 
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fab fa-slack-hash"></i>
                                    </span>
                                    </div>
                                    
                                    {{ form.street_number|as_crispy_field }}
                                </div>  
                            </div>

                            <div class="col-md-6">                                     
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-city"></i>
                                        </span>
                                    </div>
                                    {{ form.city|as_crispy_field }}
                                    
                                </div>
                            </div>                                
                            <div class="col-md-6"> 
                                <div class="input-group">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text">
                                            <i class="fab fa-slack-hash"></i>
                                        </span>
                                    </div>
                                    {{ form.postal_code|as_crispy_field }}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="input-group input-group-select">
                            <div class="input-group-prepend" style="width:100%">
                                <span class="input-group-text">
                                        <i class="fas fa-globe-europe"></i>
                                </span>
                                
                                {% load countries %}
                                {% get_countries as countries %}
                                <select class="input-group-selection" id="country" name="country">
                                {% for country in countries %}
                                    {% if form.country.value == country.code  %}
                                    <option value="{{ country.code }}" selected >{{ country.name }}</option>
                                    {% else %}
                                    <option value="{{ country.code }}">{{ country.name }}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <input type="submit" class="btn btn-primary btn-link btn-wd btn-lg" name="" value="Update profile">
                        <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-primary btn-link btn-wd btn-lg">Go back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}