<div class="col-sm-6 col-md-6 col-lg-4">
    <a href="{% url 'view_apartment' apartment.apartment_id %}">
        <div class="card mb-4 shadow-sm">
            <div class="card-header card-header-primary text-center ch-fix">
                <h6 class="card-title ct-fix">{{ apartment }}</h6>
            </div>
            {% if apartment.photo_main %}
                <div class="apartment_img" style="background-image: url({{ apartment.photo_main.url }})"></div>
            {% else %}
                <div class="apartment_img" style="background-image: url(/media/no_image.png)"></div>
            {% endif %}
            <div class="card-body">
                <h4>Price: <span class="card-text-bolder">{{ apartment.get_price }} ISK</span></h4>
                <hr/>
                <h4>Size: <span class="card-text-bolder">{{ apartment.get_type_display }} ({{ apartment.get_size_int }} m²)</span></h4>
                <hr/>
                {% for feature in apartment.features %}
                <span class="badge badge-pill badge-primary">{{ feature }}</span>
                {% endfor %}
                <p class="card-text">{{ apartment.short_description }}</p>
                <small class="text-muted">{{ apartment.age }} old</small>
            </div>
        </div>
    </a>
</div>