{% load staticfiles %}
<!-- Footer -->
<footer class="page-footer font-small teal pt-4" style="background-color:white;">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3 text-center">
      
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">Where to find us</h5>
              <p><img src="/media/where_to_find_us.PNG" style="width:50%; height:50%;"></p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3" style="border-left: 1px solid #AAAAAA;">
      
              <!-- Content -->
              
              <h5 class="text-uppercase font-weight-bold">About Us</h5>
              <p>Castle Apartments Real Estate is a full-service real estate brokerage franchise company with a comprehensive and integrated suite of resources for franchisees and their sales professionals, as well as for consumers who work with them. In 2019, Castle Apartments Real Estate was named "Real Estate Agency Brand of the Year" in the ongoing Harris Poll EquiTrend® study; and was named "Most Loved" and "Most Trusted" real estate brand in the study in consecutive years. Additionally, the Castle Apartments Brand and its innovative concepts were recognized by Entrepreneur magazine as well as Inman News, receiving several Inman Innovator Awards. Castle Apartments was also named "the Most Promising New National Brand" by the Swanepoel TRENDS Report.</p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Text -->
      
        <!-- Copyright -->
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->