{% load staticfiles %}
<!-- Footer -->
{% if user.is_authenticated %}
<div class="container-fluid" style="background-color:white;">
    <div class="row">
<nav class="col-md-2 d-none d-md-block sidebar ca-sidebar" style="background:transparent !important">
  <div class="sidebar-sticky sticky-top" style="height: 100%;">
    <ul class="nav flex-column bg-purpletrans" style="height: 100%;min-height: 100%;">
        
      </ul>
  </div>
</nav>

<footer class="col-md-10 ml-sm-auto col-lg-10" style="background-color:white;margin-bottom:0px;">
{% else %}
<footer class="col-md-12 ml-sm-auto col-lg-12" style="background-color:white;margin-bottom: 0px;">
{% endif %}


        <!-- Footer Text -->
        <div class="">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-0 col-lg-2 mt-md-0 mt-3 text-center"></div>
            <div class="col-md-6 col-lg-4 mt-md-0 mt-3 text-center">
      
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">Where to find us</h5>
              <p><img src="/media/where_to_find_us.PNG" style="max-width: 100%;
                max-height: 237px;"></p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-6 col-lg-4 mb-md-0 mb-3" style="border-left: 1px solid #AAAAAA;    padding: 0px 20px;">
      
              <!-- Content -->
              
              <h5 class="text-uppercase font-weight-bold">About Us</h5>
              <p>Castle Apartments Real Estate is a full-service real estate brokerage franchise company with a comprehensive and integrated suite of resources for franchisees and their sales professionals, as well as for consumers who work with them. In 2019, Castle Apartments Real Estate was named "Real Estate Agency Brand of the Year" in the ongoing Harris Poll EquiTrend® study; and was named "Most Loved" and "Most Trusted" real estate brand in the study in consecutive years. Additionally, the Castle Apartments Brand and its innovative concepts were recognized by Entrepreneur magazine as well as Inman News, receiving several Inman Innovator Awards. Castle Apartments was also named "the Most Promising New National Brand" by the Swanepoel TRENDS Report.</p>
      
            </div>
            <div class="col-md-0 col-lg-2 mt-md-0 mt-3 text-center"></div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
          <div class="row justify-content-center align-items-center text-center">
              <div class="footer-copyright text-center py-3">© {% now "Y" %} Copyright:
                  <a href="https://github.com/castleapartments/Castle_apartments">The Three Amigos</a>
                </div>
            </div>
        </div>
        <!-- Footer Text -->
      
        <!-- Copyright -->
        
        <!-- Copyright -->
        </div>
      </footer>
      <!-- Footer -->
   
    </div>
  </div>