{% extends '_base.html' %}

{% block title %}
Create / Edit Apartment
{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-12 p-0 p-md-1">
      <div class="card m-0 p-3 p-sm-2 p-md-4 ">
        <div class="card-header card-header-primary text-center">
          <h4 class="card-title">TRANSFER OWNERSHIP </h4>
        </div>
        <p class="description text-center">&nbsp;</p>
     
        <div class="row">
          <div class="col-md-4">
              <div class="card">
                  
                  <div class="card-header card-header-primary text-center">
                      <h4 class="card-title">OWNER</h4>
                  </div>
                  <div class="card-body">
                      <div class="d-flex justify-content-center profile-image">
                        <img src="http://res.cloudinary.com/diadeffmu/image/upload/v1557871899/r43a3zyadov9dyn41mts.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid" style="width:200px; height:200px">
                      </div>

                      <h4 class="text-center"><strong>NAME</strong></h4>        
                      <p>Miller-Heidke seg­ir að nokk­ur frá­bær atriði hafi ekki kom­ist áfram í gær og því hafi hún fundið fyr­ir létti og sé um leið mjög þakk­lát. </p>
                      <div class="text-center"><button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-comments"></i> Contact</button></div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="row h-100 justify-content-center align-items-center text-center"style="font-size:12rem;"><div><i class="fas fa-share d-none d-md-block"></i> <i class="fas fa-arrow-down d-block d-md-none"></i></div></div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  
                  <div class="card-header card-header-primary text-center">
                      <h4 class="card-title">BUYER</h4>
                  </div>
                  <div class="card-body">
                      <div class="d-flex justify-content-center profile-image">
                        <img src="http://res.cloudinary.com/diadeffmu/image/upload/v1557871899/r43a3zyadov9dyn41mts.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid" style="width:200px; height:200px">
                      </div>

                      <h4 class="text-center"><strong>NAME</strong></h4>     
                      <p>Þetta er mik­ill létt­ir,“ seg­ir Ástr­al­inn eld­hressi, Kate Miller-Heidke, í sam­tali við mbl.is. Ástr­al­ía komst, líkt og Ísland, í úr­slit Eurovisi­on í gær.</p>
                      <div class="text-center"><button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-comments"></i> Contact</button></div>
                      
                  </div>
              </div>
            </div>
            <div class="col-12">
              <div class="text-center" style="margin-top: 30px;"><button type="submit" class="btn btn-success btn-xl"><i class="fas fa-check"></i> Approve</button></div>
                
              </div>
        </div>

        <div class="footer text-center">   
        </div>
      </div>
    </div>
  </div>
</div>

<script>


</script>

{% endblock %}