{% extends '_base.html' %}

{% block title %}
Create / Edit Apartment
{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-12 p-0 p-md-1">
      <div class="card m-0 p-3 p-md-3 main-search">
        <div class="card-header card-header-primary text-center">
          <h4 class="card-title">APARTMENT </h4>
        </div>
        <p class="description text-center">&nbsp;</p>
     
        <div class="row">
          <div class="col-md-3">
            <div class="input-group">  
              <div class="form-group bmd-form-group is-filled">
                <label for="id_search" class="col-form-label bmd-label-floating">
                    Address
                </label>
                <input id="id_search" class="textinput textInput form-control" type="text" value=""> 
              </div>
            </div>

            <div class="form-group">
              <label for="country" class="col-form-label bmd-label-static">
                  Country
              </label>
              <select class="form-control search-select" id="country">
                <option>Country:</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="form-group">
              <label for="city" class="col-form-label bmd-label-static">
                  City
              </label>
              <select class="form-control search-select" id="city">
                <option>City:</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="form-group">
              <label for="zip" class="col-form-label bmd-label-static">
                  Zip
              </label>
              <select class="form-control search-select" id="zip">
                <option>Zip:</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

          </div>
          <div class="col-md-3">
            <div class="input-group">  
              <div class="form-group bmd-form-group is-filled">
                <label for="id_search" class="col-form-label bmd-label-floating">
                    Address
                </label>
                <input id="id_search" class="textinput textInput form-control" type="text" value=""> 
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">  
              <div class="form-group bmd-form-group is-filled">
                <label for="id_search" class="col-form-label bmd-label-floating">
                    Address
                </label>
                <input id="id_search" class="textinput textInput form-control" type="text" value=""> 
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">  
              <div class="form-group bmd-form-group is-filled">
                <label for="id_search" class="col-form-label bmd-label-floating">
                    Address
                </label>
                <input id="id_search" class="textinput textInput form-control" type="text" value=""> 
              </div>
            </div>
          </div>
        </div>

        <div class="footer text-center">   
        </div>
      </div>
    </div>
  </div>
</div>

<script>


</script>

{% endblock %}