{% extends '_base.html' %}

{% block title %}
Single apartment
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12 p-0 p-md-1">
            <div class="card">
                <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Address streetnumber - zip city </h4>
                </div>
                <p class="description text-center">&nbsp;</p>
                <div class="row m-0 p-md-3">
                    <div class="col-md-8">
                        <div class="card card-carousel">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                                <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                                </ol>
                                <div class="carousel-inner">
                                <div class="carousel-item">
                                        <img src="https://via.placeholder.com/728x390.png?text=IMAGE_GALLERY">  
                                    <div class="carousel-caption d-none d-md-block">
                                    <h4>
                                        <i class="material-icons">location_on</i> Yellowstone National Park, United States
                                    </h4>
                                    </div>
                                </div>
                                <div class="carousel-item active">
                                        <img src="https://via.placeholder.com/728x390.png?text=IMAGE_GALLERY">  
                                    <div class="carousel-caption d-none d-md-block">
                                    <h4>
                                        <i class="material-icons">location_on</i> Somewhere Beyond, United States
                                    </h4>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                        <img src="https://via.placeholder.com/728x390.png?text=IMAGE_GALLERY">  
                                    <div class="carousel-caption d-none d-md-block">
                                    <h4>
                                        <i class="material-icons">location_on</i> Yellowstone National Park, United States
                                    </h4>
                                    </div>
                                </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <i class="material-icons">keyboard_arrow_left</i>
                                <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <i class="material-icons">keyboard_arrow_right</i>
                                <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>      
                        <div class="description">
                            <p></p><strong>***KYNNING Á NÝJUM ÍBÚÐUM Í Efstaleiti Sunnud. 12 maí kl.13.00-14.00 Í sýningarsal við Efstaleiti 27 verið velkomin !****</strong><br>
                            <strong>Fasteignasalan TORG kynnir: Glæsileg 3ja herbergja íbúð, merkt: 203 í Lágaleiti 3, sem skilast fullbúin án gólfefna. Íbúð er 96,4fm að stærð á 2 hæð með svölum  um 6,2fm að stærð, í góðu lyftuhúsi. Stæði í bílakjallara sem fylgir íbúðinni merkt: 06-B116. Íbúðin sjálf er skráð 86,2fm og skiptist í anddyri, alrými með eldhúsi, tvö svefnherbergi, baðherbergi, þvottaherbergi og sér geymslu í sameign, skáð um 10,2fm, merkt 0005. Innréttingar eru Hvítt Matt R1. Allar nánari upplýsingar, teikningar, og skilalýsingu er hægt að nálgast hjá Lilju, fasteignasala í síma <a href="tel:663-0464">663-0464</a>, netfang <a href="mailto:lilja@fstorg.is">lilja@fstorg.is</a> </strong><br>
                            <br>
                            <strong>Afhending íbúða við Lágaleiti 3 verður í apríl/maí 2019</strong><br>
                            <br>
                            <strong>Nánari lýsing: </strong>Nýjar íbúðir á rótgrónu miðborgarsvæði við Efstaleiti! Um er að ræða annan áfanga af þremur, alls 49 íbúð á A-reit.  Efstaleiti 27 með 20 íbúðir og Lágaleiti 1-3 með 29 íbúðir!<br>
                            <br>
                            <strong>Samantekt:</strong> Nýtt hverfi í borginni, sem ber nafnið EFSTALEITIÐ er skipt upp í A, B og C reiti sbr. deiliskipulag svæðisins. Á öðrum áfanga verður byggt á lóð á A reit alls um 160 íbúðir í fimm fjölbýlishúsum. Hafin er sala á Efstaleiti 27 með 20 íbúðir og Lágaleiti 1-3 með 29 íbúðir, sjá hér slóð inná heimasíðu verkefnisins: <a href="http://www.efstaleitid.is/?ref=torg">Sjá söluvef Efstaleitið</a> <br>
                            Á lóðunum við Efstaleiti, Lágaleiti og Vörðuleiti er byggðinni skipt upp í tvo meginreiti. Þar mynda misháar íbúðabyggingar hring um skjólsæla garða, útivistar- og leiksvæði. Við hönnun íbúðahverfisins er unnið markvisst með stöllun húsa í hæð, formi og mótun lands svo úr verður ásýnd stakstæðra húsa með skemmtilegum þakgörðum og svölum. Reitirnir tveir samanstanda af 289 íbúðum sem eru allt frá stúdíóíbúðum í 4 herbergja íbúðir. Leitast er við að hafa íbúðir bjartar og nútímalegar með hagnýtu skipulagi. Við Efstaleitið verður einnig verslunar- og þjónustukjarni sem ætlað er að bæta þjónustu við íbúa og skapa notalegt andrúmsloft. Fallegur og skjólsæll garður prýðir miðju A reits. Garðurinn verður gróðursæll, með reiðhjólaskýlum, leiksvæði og hreyfistöð. Kaffihús verður staðsett á jarðhæð við Efstaleiti 25 með skemmtilegu útisvæði sem mun verða opið inn í garð.                  Áætluð afhending fyrstu íbúða er vor/sumar 2019.<br>
                            <strong>Allar nánari upplýsingar, teikningar, og skilalýsingu er hægt að nálgast hjá söludeild Fasteignasölunni TORG, Lilja Ragnarsdóttir, sölufulltrúi, GSM <a href="tel:663-0464">663-0464</a>, netfang <a href="mailto:lilja@fstorg.is">lilja@fstorg.is</a> og/eða Sigurður lgfs.</strong><br>
                            <p></p>
                        </div>      
                    </div>
                    <div class="col-md-4">
                        <div class="title">
                            <h3>Price: <span class="apartment-price">50.900.00 ISK</span></h3>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-check"></i><span class="feature-title">Type: </span><span class="feature">Single Family</span></li>
                            <li class="list-group-item"><i class="fas fa-check"></i><span class="feature-title">Size: </span><span class="feature">104.0 m2</span></li>
                            <li class="list-group-item"><i class="fas fa-check"></i><span class="feature-title">Rooms: </span><span class="feature">7</span></li>
                            <li class="list-group-item"><i class="fas fa-check"></i><span class="feature-title">Shitters: </span><span class="feature">5</span></li>
                        </ul>
                        <div class="apart-buy-div text-center">
                                <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-shopping-cart"></i> Buy</button>
                                <button type="submit" class="btn btn-info btn-lg"><i class="fas fa-edit"></i> Edit</button>
                        </div>
                        <div class="title">
                            <h3>Features</h3>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item"><i class="fas fa-check"></i><span class="feature">Elevator</span></li>
                                <li class="list-group-item"><i class="fas fa-check"></i><span class="feature">Garden</span></li>
                                <li class="list-group-item"><i class="fas fa-check"></i><span class="feature">Wheelchair access</span></li>
                        </ul>
                        <div class="real-estate-agent">
                            <div class="rea-image text-center">
                                    <img src="http://www.facetheforce.today/random/200?{{usr.first_name}}" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                            </div>
                            <p>
                                    The Death Star plans are not in the main computer. Where are those transmissions you intercepted? What have you done with those plans? We intercepted no transmissions. ....
                            </p>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-comments"></i> Contact</button>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="footer text-center">
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}