{% extends '_base.html' %}

{% load cloudinary %}

{% block title %}
Castle Apartments - All users
{% endblock %}

{% block content %}
<div class="container  p-0 p-md-4">
<div class="main p-0 p-md-4">
        <div class="section section-basic">

    <div class="row">
        <div class="col-md-12">
            
            <h2 class="title text-center">ALL USERS</h3>
                    {% if users %}
                    <div class="row">
                        {% for usr in users %}
                        <div class="col-lg-3 col-md-4 ml-auto mr-auto">
                            <a href="{%  url 'profile' %}{{usr.id}}">
                                <div class="card p-2">
                                    <div class="card-header card-header-primary text-center">
                                        <h4 class="card-title">{{usr.first_name}} {{usr.last_name}}</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center profile-image">
                                            {% for prof in profiles %}
                                                {% if usr.id == prof.user_id %}
                                                <img src="{{ prof.photo_main.url }}" alt="Thumbnail Image" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid" style="width:200px; height:200px">
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                    </div>
                        {% endfor %}
                    </div>
                        {% if is_paginated %}
                        <div class="d-flex justify-content-center">
                            <ul class="pagination pagination-primary">
                                {% if page_obj.has_previous %}
                                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link" >prev<div class="ripple-container"></div></a></li>
                                {% else %}
                                <li class="page-item disabled"><a href="#" class="page-link">prev<div class="ripple-container"></div></a></li>
                                {% endif %}
                            
                                {% for num in page_obj.paginator.page_range %}
                                {% ifequal num page_obj.number %}
                                    <li class="active page-item"><a href="#" class="page-link">{{ num }}<span class="sr-only">(current)</span></a></li>
                                {% else %}
                                    <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                                {% endifequal %}
                                {% endfor %}
                            
                                {% if page_obj.has_next %}
                                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">next<div class="ripple-container"></div></a></li>
                                {% else %}
                                <li class="page-item disabled"><a href="#" class="page-link">next<div class="ripple-container"></div></a></li>
                                {% endif %}
                            <ul>
                                </div>
                        {% endif %}

  
                {% endif %}
        
        </div>
    </div>
</div>    </div>
</div>

{% endblock %}